openapi: 3.0.0
info:
  title: Squidex API
  version: 4.1.3.0
  x-logo:
    url: https://squidex-embracecloudte.features.embracecloud.io/images/logo-white.png
    backgroundColor: '#3f83df'
externalDocs:
  url: https://docs.squidex.io
servers:
- url: https://squidex-embracecloudte.features.embracecloud.io/api
security:
- squidex-oauth-auth: []
paths:
  /:
    get:
      operationId: Users_GetUserResources
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcesDto'
          description: User resources returned.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth: []
      summary: Get the user resources.
      tags:
      - Users
  /users:
    get:
      description: Search the user by query that contains the email address or the
        part of the email address.
      operationId: Users_GetUsers
      parameters:
      - description: The query to search the user by email address. Case invariant.
        explode: true
        in: query
        name: query
        required: false
        schema:
          nullable: true
          type: string
        style: form
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/UserDto'
                type: array
          description: Users returned.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth: []
      summary: Get users by query.
      tags:
      - Users
  /users/{id}:
    get:
      operationId: Users_GetUser
      parameters:
      - description: The id of the user (GUID).
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'
          description: User found.
        "404":
          description: User not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth: []
      summary: Get user by id.
      tags:
      - Users
  /users/{id}/picture:
    get:
      operationId: Users_GetUserPicture
      parameters:
      - description: The id of the user (GUID).
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: User found and image or fallback returned.
        "404":
          description: User not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      summary: Get user picture by id.
      tags:
      - Users
  /apps/{app}/translations:
    post:
      operationId: Translations_GetLanguages
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslateDto'
        description: The translation request.
        required: true
        x-name: request
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranslationDto'
          description: Text translated.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Translate a text.
      tags:
      - Translations
  /apps/{app}/usages/log:
    get:
      operationId: Usages_GetLog
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogDownloadDto'
          description: Usage tracking results returned.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Get api calls as log file.
      tags:
      - Statistics
  /apps/{app}/usages/calls/month:
    get:
      operationId: Usages_GetMonthlyCalls
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentCallsDto'
          description: Usage tracking results returned.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Get api calls for this month.
      tags:
      - Statistics
  /apps/{app}/usages/calls/{fromDate}/{toDate}:
    get:
      operationId: Usages_GetUsages
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The from date.
        explode: false
        in: path
        name: fromDate
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The to date.
        explode: false
        in: path
        name: toDate
        required: true
        schema:
          type: string
        style: simple
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/CallsUsageDto'
                  type: array
                type: object
          description: API call returned.
        "404":
          description: App not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Range between from date and to date is not valid or has more
            than 100 days.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Get api calls in date range.
      tags:
      - Statistics
  /apps/{app}/usages/storage/today:
    get:
      operationId: Usages_GetCurrentStorageSize
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentStorageDto'
          description: Storage usage returned.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Get total asset size.
      tags:
      - Statistics
  /apps/{app}/usages/storage/{fromDate}/{toDate}:
    get:
      operationId: Usages_GetStorageSizes
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The from date.
        explode: false
        in: path
        name: fromDate
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The to date.
        explode: false
        in: path
        name: toDate
        required: true
        schema:
          type: string
        style: simple
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StorageUsageDto'
                type: array
          description: Storage usage returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Range between from date and to date is not valid or has more
            than 100 days.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Get asset usage by date.
      tags:
      - Statistics
  /apps/{app}/schemas/{name}/fields:
    post:
      operationId: SchemaFields_PostField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFieldDto'
        description: The field object that needs to be added to the schema.
        required: true
        x-name: request
        x-position: 3
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema field properties not valid.
        "404":
          description: Schema or app not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema field name already in use.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Add a schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{parentId}/nested:
    post:
      operationId: SchemaFields_PostNestedField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The parent field id.
        explode: false
        in: path
        name: parentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFieldDto'
        description: The field object that needs to be added to the schema.
        required: true
        x-name: request
        x-position: 4
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema field properties not valid.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema field name already in use.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Add a nested schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/ui:
    put:
      operationId: SchemaFields_PutSchemaUIFields
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigureUIFieldsDto'
        description: The request that contains the field names.
        required: true
        x-name: request
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema UI fields defined.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema field contains invalid field names.
        "404":
          description: Schema or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Configure UI fields.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/ordering:
    put:
      operationId: SchemaFields_PutSchemaFieldOrdering
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReorderFieldsDto'
        description: The request that contains the field ids.
        required: true
        x-name: request
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema fields reordered.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema field ids do not cover the fields of the schema.
        "404":
          description: Schema or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Reorders the fields.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{parentId}/nested/ordering:
    put:
      operationId: SchemaFields_PutNestedFieldOrdering
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The parent field id.
        explode: false
        in: path
        name: parentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReorderFieldsDto'
        description: The request that contains the field ids.
        required: true
        x-name: request
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema fields reordered.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema field ids do not cover the fields of the schema.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Reorders the nested fields.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{id}:
    delete:
      operationId: SchemaFields_DeleteField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The id of the field to disable.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Field is locked.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Delete a schema field.
      tags:
      - Schemas
    put:
      operationId: SchemaFields_PutField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The id of the field to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFieldDto'
        description: The field object that needs to be added to the schema.
        required: true
        x-name: request
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema field properties not valid or field is locked.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Update a schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{parentId}/nested/{id}:
    delete:
      operationId: SchemaFields_DeleteNestedField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The parent field id.
        explode: false
        in: path
        name: parentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      - description: The id of the field to disable.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Field is locked.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Delete a nested schema field.
      tags:
      - Schemas
    put:
      operationId: SchemaFields_PutNestedField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The parent field id.
        explode: false
        in: path
        name: parentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      - description: The id of the field to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 4
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFieldDto'
        description: The field object that needs to be added to the schema.
        required: true
        x-name: request
        x-position: 5
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema field properties not valid or field is locked.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Update a nested schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{id}/lock:
    put:
      description: A locked field cannot be updated or deleted.
      operationId: SchemaFields_LockField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The id of the field to lock.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field shown.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Lock a schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{parentId}/nested/{id}/lock:
    put:
      description: A locked field cannot be edited or deleted.
      operationId: SchemaFields_LockNestedField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The parent field id.
        explode: false
        in: path
        name: parentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      - description: The id of the field to lock.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field hidden.
        "404":
          description: Field, schema, or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Lock a nested schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{id}/hide:
    put:
      description: A hidden field is not part of the API response, but can still be
        edited in the portal.
      operationId: SchemaFields_HideField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The id of the field to hide.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field hidden.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Hide a schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{parentId}/nested/{id}/hide:
    put:
      description: A hidden field is not part of the API response, but can still be
        edited in the portal.
      operationId: SchemaFields_HideNestedField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The parent field id.
        explode: false
        in: path
        name: parentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      - description: The id of the field to hide.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field hidden.
        "404":
          description: Field, schema, or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Hide a nested schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{id}/show:
    put:
      description: A hidden field is not part of the API response, but can still be
        edited in the portal.
      operationId: SchemaFields_ShowField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The id of the field to show.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field shown.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Show a schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{parentId}/nested/{id}/show:
    put:
      description: A hidden field is not part of the API response, but can still be
        edited in the portal.
      operationId: SchemaFields_ShowNestedField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The parent field id.
        explode: false
        in: path
        name: parentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      - description: The id of the field to show.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field shown.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Show a nested schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{id}/enable:
    put:
      description: A disabled field cannot not be edited in the squidex portal anymore,
        but will be part of the API response.
      operationId: SchemaFields_EnableField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The id of the field to enable.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field enabled.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Enable a schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{parentId}/nested/{id}/enable:
    put:
      description: A disabled field cannot not be edited in the squidex portal anymore,
        but will be part of the API response.
      operationId: SchemaFields_EnableNestedField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The parent field id.
        explode: false
        in: path
        name: parentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      - description: The id of the field to enable.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field enabled.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Enable a nested schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{id}/disable:
    put:
      description: A disabled field cannot not be edited in the squidex portal anymore,
        but will be part of the API response.
      operationId: SchemaFields_DisableField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The id of the field to disable.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field disabled.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Disable a schema field.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/fields/{parentId}/nested/{id}/disable:
    put:
      description: A disabled field cannot not be edited in the squidex portal anymore,
        but will be part of the API response.
      operationId: SchemaFields_DisableNestedField
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The parent field id.
        explode: false
        in: path
        name: parentId
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 3
      - description: The id of the field to disable.
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema field disabled.
        "404":
          description: Schema, field or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Disable nested a schema field.
      tags:
      - Schemas
  /apps/{app}/schemas:
    get:
      operationId: Schemas_GetSchemas
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemasDto'
          description: Schemas returned.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Get schemas.
      tags:
      - Schemas
    post:
      operationId: Schemas_PostSchema
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSchemaDto'
        description: The schema object that needs to be added to the app.
        required: true
        x-name: request
        x-position: 2
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema name or properties are not valid.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema name already in use.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.create
      summary: Create a new schema.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}:
    delete:
      operationId: Schemas_DeleteSchema
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema to delete.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "204":
          description: Schema deleted.
        "404":
          description: Schema or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.delete
      summary: Delete a schema.
      tags:
      - Schemas
    get:
      operationId: Schemas_GetSchema
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema to retrieve.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema found.
        "404":
          description: Schema or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Get a schema by name.
      tags:
      - Schemas
    put:
      operationId: Schemas_PutSchema
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSchemaDto'
        description: The schema object that needs to updated.
        required: true
        x-name: request
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema properties are not valid.
        "404":
          description: Schema or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Update a schema.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/sync:
    put:
      operationId: Schemas_PutSchemaSync
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SynchronizeSchemaDto'
        description: The schema object that needs to updated.
        required: true
        x-name: request
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema properties are not valid.
        "404":
          description: Schema or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Synchronize a schema.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/category:
    put:
      operationId: Schemas_PutCategory
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeCategoryDto'
        description: The schema object that needs to updated.
        required: true
        x-name: request
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema updated.
        "404":
          description: Schema or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Update a schema category.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/preview-urls:
    put:
      operationId: Schemas_PutPreviewUrls
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurePreviewUrlsDto'
        description: The preview urls for the schema.
        required: true
        x-name: request
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema updated.
        "404":
          description: Schema or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.update
      summary: Update the preview urls.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/scripts:
    put:
      operationId: Schemas_PutScripts
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaScriptsDto'
        description: The schema scripts object that needs to updated.
        required: true
        x-name: request
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Schema properties are not valid.
        "404":
          description: Schema or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.scripts
      summary: Update the scripts.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/publish:
    put:
      operationId: Schemas_PublishSchema
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema to publish.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema has been published.
        "404":
          description: Schema or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.publish
      summary: Publish a schema.
      tags:
      - Schemas
  /apps/{app}/schemas/{name}/unpublish:
    put:
      operationId: Schemas_UnpublishSchema
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the schema to unpublish.
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchemaDetailsDto'
          description: Schema has been unpublished.
        "404":
          description: Schema or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.schemas.{name}.publish
      summary: Unpublish a schema.
      tags:
      - Schemas
  /rules/actions:
    get:
      operationId: Rules_GetActions
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/RuleElementDto'
                type: object
          description: Rule actions returned.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth: []
      summary: Get the supported rule actions.
      tags:
      - Rules
  /apps/{app}/rules:
    get:
      operationId: Rules_GetRules
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RulesDto'
          description: Rules returned.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.rules.read
      summary: Get rules.
      tags:
      - Rules
    post:
      operationId: Rules_PostRule
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRuleDto'
        description: The rule object that needs to be added to the app.
        required: true
        x-name: request
        x-position: 2
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleDto'
          description: Rule created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Rule is not valid.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.rules.create
      summary: Create a new rule.
      tags:
      - Rules
  /apps/{app}/rules/{id}:
    delete:
      operationId: Rules_DeleteRule
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the rule to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "204":
          description: Rule deleted.
        "404":
          description: Rule or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.rules.delete
      summary: Delete a rule.
      tags:
      - Rules
    put:
      description: All events for the specified schemas will be sent to the url. The
        timeout is 2 seconds.
      operationId: Rules_PutRule
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the rule to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRuleDto'
        description: The rule object that needs to be added to the app.
        required: true
        x-name: request
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleDto'
          description: Rule updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Rule is not valid.
        "404":
          description: Rule or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.rules.update
      summary: Update a rule.
      tags:
      - Rules
  /apps/{app}/rules/{id}/enable:
    put:
      operationId: Rules_EnableRule
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the rule to enable.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleDto'
          description: Rule enabled.
        "404":
          description: Rule or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.rules.disable
      summary: Enable a rule.
      tags:
      - Rules
  /apps/{app}/rules/{id}/disable:
    put:
      operationId: Rules_DisableRule
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the rule to disable.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleDto'
          description: Rule disabled.
        "404":
          description: Rule or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.rules.disable
      summary: Disable a rule.
      tags:
      - Rules
  /apps/{app}/rules/{id}/trigger:
    put:
      operationId: Rules_TriggerRule
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the rule to disable.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "204":
          description: Rule triggered.
        "404":
          description: Rule or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.rules.events
      summary: Trigger a rule.
      tags:
      - Rules
  /apps/{app}/rules/events:
    get:
      operationId: Rules_GetEvents
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The optional rule id to filter to events.
        explode: true
        in: query
        name: ruleId
        required: false
        schema:
          format: guid
          nullable: true
          type: string
        style: form
        x-position: 2
      - description: The number of events to skip.
        explode: true
        in: query
        name: skip
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-position: 3
      - description: The number of events to take.
        explode: true
        in: query
        name: take
        required: false
        schema:
          default: 20
          format: int32
          type: integer
        style: form
        x-position: 4
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleEventsDto'
          description: Rule events returned.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.rules.read
      summary: Get rule events.
      tags:
      - Rules
  /apps/{app}/rules/events/{id}:
    delete:
      operationId: Rules_DeleteEvent
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The event to enqueue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "204":
          description: Rule deqeued.
        "404":
          description: App or rule event not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.rules.events
      summary: Cancels the event and retries.
      tags:
      - Rules
    put:
      operationId: Rules_PutEvent
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The event to enqueue.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "204":
          description: Rule enqueued.
        "404":
          description: App or rule event not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.rules.events
      summary: Retry the event immediately.
      tags:
      - Rules
  /apps/{app}/plans:
    get:
      operationId: AppPlans_GetPlans
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPlansDto'
          description: App plan information returned.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.plans.read
      summary: Get app plan information.
      tags:
      - Plans
  /apps/{app}/plan:
    put:
      operationId: AppPlans_PutPlan
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePlanDto'
        description: Plan object that needs to be changed.
        required: true
        x-name: request
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanChangedDto'
          description: Plan changed or redirect url returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Plan not owned by user.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.plans.change
      summary: Change the app plan.
      tags:
      - Plans
  /info:
    get:
      operationId: Ping_GetInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExposedValues'
          description: Infos returned.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      summary: Get general info status of the API.
      tags:
      - Ping
  /ping:
    get:
      description: Can be used to test, if the Squidex API is alive and responding.
      operationId: Ping_GetPing
      responses:
        "204":
          description: Service ping successful.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      summary: Get ping status of the API.
      tags:
      - Ping
  /ping/{app}:
    get:
      description: Can be used to test, if the Squidex API is alive and responding.
      operationId: Ping_GetAppPing
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      responses:
        "204":
          description: Service ping successful.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Get ping status.
      tags:
      - Ping
  /news/features:
    get:
      operationId: News_GetLanguages
      parameters:
      - description: The latest received version.
        explode: true
        in: query
        name: version
        required: false
        schema:
          default: 0
          format: int32
          type: integer
        style: form
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesDto'
          description: Latest features returned.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth: []
      summary: Get features since version.
      tags:
      - News
  /languages:
    get:
      description: Provide a list of supported language codes, following the ISO2Code
        standard.
      operationId: Languages_GetLanguages
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LanguageDto'
                type: array
          description: Supported language codes returned.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth: []
      summary: Get supported languages.
      tags:
      - Languages
  /apps/{app}/history:
    get:
      operationId: History_GetHistory
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The name of the channel.
        explode: true
        in: query
        name: channel
        required: false
        schema:
          nullable: true
          type: string
        style: form
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryEventDto'
          description: Events returned.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Get the events from the history.
      tags:
      - History
  /apps/{app}/comments/{commentsId}:
    get:
      description: When passing in a version you can retrieve all updates since then.
      operationId: Comments_GetComments
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the comments.
        explode: false
        in: path
        name: commentsId
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The current version.
        explode: true
        in: query
        name: version
        required: false
        schema:
          default: -2
          format: int64
          type: integer
        style: form
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsDto'
          description: All comments returned.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Get all comments.
      tags:
      - Comments
    post:
      operationId: Comments_PostComment
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the comments.
        explode: false
        in: path
        name: commentsId
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCommentDto'
        description: The comment object that needs to created.
        required: true
        x-name: request
        x-position: 3
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentDto'
          description: Comment created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Comment is not valid.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Create a new comment.
      tags:
      - Comments
  /apps/{app}/comments/{commentsId}/{commentId}:
    delete:
      operationId: Comments_DeleteComment
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the comments.
        explode: false
        in: path
        name: commentsId
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The id of the comment.
        explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
        x-position: 3
      responses:
        "204":
          description: Comment deleted.
        "404":
          description: Comment or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Deletes the comment.
      tags:
      - Comments
    put:
      operationId: Comments_PutComment
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the comments.
        explode: false
        in: path
        name: commentsId
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: The id of the comment.
        explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
        x-position: 3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCommentDto'
        description: The comment object that needs to updated.
        required: true
        x-name: request
        x-position: 4
      responses:
        "204":
          description: Comment updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Comment text not valid.
        "404":
          description: Comment or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.common
      summary: Updates the comment.
      tags:
      - Comments
  /users/{userId}/notifications:
    get:
      description: When passing in a version you can retrieve all updates since then.
      operationId: UserNotifications_GetNotifications
      parameters:
      - description: The user id.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The current version.
        explode: true
        in: query
        name: version
        required: false
        schema:
          default: -2
          format: int64
          type: integer
        style: form
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentsDto'
          description: All comments returned.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth: []
      summary: Get all notifications.
      tags:
      - Notifications
  /users/{userId}/notifications/{commentId}:
    delete:
      operationId: UserNotifications_DeleteComment
      parameters:
      - description: The user id.
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the comment.
        explode: false
        in: path
        name: commentId
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "204":
          description: Comment deleted.
        "404":
          description: Comment not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth: []
      summary: Deletes the notification.
      tags:
      - Notifications
  /apps/{app}/backups/{id}:
    delete:
      operationId: Backups_DeleteBackup
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the backup to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "204":
          description: Backup started.
        "404":
          description: Backup or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.backups.delete
      summary: Delete a backup.
      tags:
      - Backups
    get:
      operationId: BackupContent_GetBackupContent
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the asset.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Backup found and content returned.
        "404":
          description: Backup or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      summary: Get the backup content.
      tags:
      - Backups
  /apps/{app}/backups:
    get:
      operationId: Backups_GetBackups
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupJobsDto'
          description: Backups returned.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.backups.read
      summary: Get all backup jobs.
      tags:
      - Backups
    post:
      operationId: Backups_PostBackup
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      responses:
        "204":
          description: Backup started.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.backups.create
      summary: Start a new backup.
      tags:
      - Backups
  /apps/restore:
    get:
      operationId: Restore_GetRestoreJob
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreJobDto'
          description: Status returned.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.admin.restore
      summary: Get current restore status.
      tags:
      - Backups
    post:
      operationId: Restore_PostRestoreJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RestoreRequestDto'
        description: The backup to restore.
        required: true
        x-name: request
        x-position: 1
      responses:
        "204":
          description: Restore operation started.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.admin.restore
      summary: Restore a backup.
      tags:
      - Backups
  /assets/{app}/{idOrSlug}/{more}:
    get:
      operationId: AssetContent_GetAssetContentBySlug
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id or slug of the asset.
        explode: false
        in: path
        name: idOrSlug
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      - description: Optional suffix that can be used to seo-optimize the link to
          the image Has not effect.
        explode: false
        in: path
        name: more
        required: true
        schema:
          type: string
        style: simple
        x-position: 3
      - description: The optional version of the asset.
        explode: true
        in: query
        name: version
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-position: 4
      - description: The cache duration in seconds.
        explode: true
        in: query
        name: cache
        required: false
        schema:
          format: int64
          type: integer
        style: form
        x-position: 5
      - description: Set it to 0 to prevent download.
        explode: true
        in: query
        name: download
        required: false
        schema:
          format: int32
          type: integer
        style: form
        x-position: 6
      - description: The target width of the asset, if it is an image.
        explode: true
        in: query
        name: width
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 7
      - description: The target height of the asset, if it is an image.
        explode: true
        in: query
        name: height
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 8
      - description: Optional image quality, it is is an jpeg image.
        explode: true
        in: query
        name: quality
        required: false
        schema:
          format: int32
          nullable: true
          type: integer
        style: form
        x-position: 9
      - description: The resize mode when the width and height is defined.
        explode: true
        in: query
        name: mode
        required: false
        schema:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/ResizeMode'
        style: form
        x-position: 10
      - description: Override the y focus point.
        explode: true
        in: query
        name: focusX
        required: false
        schema:
          format: float
          nullable: true
          type: number
        style: form
        x-position: 11
      - description: Override the x focus point.
        explode: true
        in: query
        name: focusY
        required: false
        schema:
          format: float
          nullable: true
          type: number
        style: form
        x-position: 12
      - description: True to ignore the asset focus point if any.
        explode: true
        in: query
        name: nofocus
        required: false
        schema:
          type: boolean
        style: form
        x-position: 13
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Asset found and content or (resized) image returned.
        "404":
          description: Asset or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth: []
      summary: Get the asset content.
      tags:
      - Assets
  /apps/{app}/assets/folders:
    get:
      description: Get all asset folders for the app.
      operationId: AssetFolders_GetAssetFolders
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The optional parent folder id.
        explode: true
        in: query
        name: parentId
        required: false
        schema:
          format: guid
          type: string
        style: form
        x-position: 2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetsDto'
          description: Asset folders returned.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.assets.read
      summary: Get asset folders.
      tags:
      - Assets
    post:
      operationId: AssetFolders_PostAssetFolder
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetFolderDto'
        description: The asset folder object that needs to be added to the App.
        required: true
        x-name: request
        x-position: 2
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetDto'
          description: Asset folder created.
        "404":
          description: App not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.assets.update
      summary: Upload a new asset.
      tags:
      - Assets
  /apps/{app}/assets/folders/{id}:
    delete:
      operationId: AssetFolders_DeleteAssetFolder
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the asset folder to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      responses:
        "204":
          description: Asset folder deleted.
        "404":
          description: Asset or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.assets.update
      summary: Delete an asset folder.
      tags:
      - Assets
    put:
      operationId: AssetFolders_PutAssetFolder
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the asset folder.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameAssetFolderDto'
        description: The asset folder object that needs to updated.
        required: true
        x-name: request
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetDto'
          description: Asset folder updated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Asset folder name not valid.
        "404":
          description: Asset or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.assets.update
      summary: Updates the asset folder.
      tags:
      - Assets
  /apps/{app}/assets/folders/{id}/parent:
    put:
      operationId: AssetFolders_PutAssetFolderParent
      parameters:
      - description: The name of the app.
        explode: false
        in: path
        name: app
        required: true
        schema:
          type: string
        style: simple
        x-position: 1
      - description: The id of the asset folder.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
        x-position: 2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveAssetItemDto'
        description: The asset folder object that needs to updated.
        required: true
        x-name: request
        x-position: 3
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetDto'
          description: Asset folder moved.
        "404":
          description: Asset or app not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDto'
          description: Operation failed
      security:
      - squidex-oauth-auth:
        - squidex.apps.{app}.assets.update
[...]
